<% content_for :title, "Articles" %>

<div class="container">
  <% flash.each do |name, msg| %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= msg %>
    <button type="button" class="close position-absolute top-0 end-0 m-2 btn btn-primary bg-danger text-white border-danger" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
  </div>
  <% end %>
</div>

<h1 class="text-center mt-4">Listing all articles</h1>

<%= render "article" %>


    
       
