<% content_for :title, "New category" %>

<h1 class="text-center mt-4">Create a new category</h1>

<div class="container">

  <div class="row justify-content-center">
    <div class="col-md-10">
        <%= render 'form' %>
    </div>
    <div class="mb-3">
    <div class="text-center">
      <%= link_to "[ Cancel and return to categories listing ]", categories_path, class: "text-info link-underline link-underline-opacity-0" %>
    </div>
    </div>
  </div>
</div>
